.auth-nav {
  display: none;

  @include mq(tablet) {
    @include flex(flex, flex-start);
    margin-left: 84px;
    flex-wrap: wrap;
  }
  @include mq(desktop) {
    @include flex();
    margin-left: $margin-auto;
    flex-wrap: nowrap;
  }
}
.auth-nav__item:not(:last-child) {
  margin-bottom: 10px;
  @include mq(desktop) {
    margin-right: $margin-fifty;
    margin-bottom: 0;
  }
}
.auth-nav__link {
  @include fonts(12px, 1.16, 0.02em, 500);

  color: $auth-link;
  transition: $transition-color;

  &:hover,
  &:focus {
    color: $link-accent;
  }
  @include mq(desktop) {
    @include flex();
    @include fonts(14px, 1.14, 0.02em, 500);
    padding-top: $padding-set-nav;
    padding-bottom: $padding-set-nav;
  }
}
.auth-nav__icon {
  margin-right: 10px;
  fill: currentColor;
  @include mq(tablet-only) {
    margin-right: 8px;
    width: 10px;
    height: 14px;
  }
}
.auth-nav__icon--envelope {
  @include mq(tablet-only) {
    width: 14px;
    height: 10px;
  }
}
