.auth-nav {
  @include flex();
  margin-left: $margin-auto;
}

.auth-nav__item:not(:last-child) {
  margin-right: $margin-fifty;
}
.auth-nav__link {
  @include flex();

  padding-top: $padding-set-nav;
  padding-bottom: $padding-set-nav;
  @include fonts(null, 1.14, 0.02em, 500);

  color: $auth-link;
  transition: $transition-color;

  &:hover,
  &:focus {
    color: $link-accent;
  }
}
.auth-nav__icon {
  display: inline-flex;
  margin-right: 10px;
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  fill: currentColor;
}
