@import "../utils/reset";

body {
  font-family: $main-font-family;
  @include fonts(14px);
  text-align: center;

  @include mq(notDesktop) {
    padding-top: 60px;
  }
  @include mq(desktop) {
    padding-top: 80px;
  }
}

.no-scroll {
  overflow-y: hidden;
}
