// .benefits__list {
//   // display: flex;
// }

// .benefits__item:not(:last-child) {
//   margin-right: $margin-list-set;
// }

.benefits__wrapper {
  @include flex();
  height: 120px;
  margin-bottom: $margin-list-set;
  text-align: left;
  border-radius: 4px;
  background-color: $bgc-secondary;
}

.benefits__text {
  color: $subtitle-text;
  text-align: left;
  padding-bottom: $margin-list-set;
}
.benefits__title {
  margin-bottom: 10px;
  @include fonts(14px, 1.14, null, 700);
  text-transform: uppercase;
}
