@import "../utils/placeholder";
.button {
  @extend %btn-index;
}
//Form button
.form__button {
  @extend %btn-index;
  display: block;
  margin: auto;
  padding: 10px 0px;
  transition: $transition-color-bgc;

  &:hover,
  &:focus {
    background-color: $btn-bgc-hover-focus;
  }
}

//Footer
.subscribe__button {
  @extend %btn-index;
  display: inline-flex;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  text-align: left;

  @include mq(desktop) {
    margin-top: 0;
    margin-right: 0;
    margin-left: 12px;
  }

  &:hover,
  &:focus {
    background-color: $btn-bgc-hover-focus;
  }
}

//Portfolio

.button__primary {
  @extend %btn-portfolio;
  color: $btn-text;
  background-color: $btn-main-bgc;

  transition: color $timing-function, background-color $timing-function,
    box-shadow $timing-function;

  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.button__secondary {
  @extend %btn-portfolio;
  display: inline-block;

  color: $primary-text;
  background-color: $bgc-secondary;

  transition: color $timing-function, background-color $timing-function,
    box-shadow $timing-function;

  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    color: $btn-text;
    background-color: $btn-main-bgc;
  }
}
