.section__title {
  margin-bottom: $margin-list-set;
  @include fonts(28px, 1.18, null, 700);

  @include mq(desktop) {
    margin-bottom: $margin-fifty;
    @include fonts(36px, 1.16, null, 700);
  }
}
.clients {
  @include flex();
  flex-wrap: wrap;
  margin-bottom: -30px;

  @media screen and (min-width: $mobile) and (max-width: 1199px) {
    justify-content: space-between;
  }
  @include mq(desktop) {
    flex-wrap: nowrap;
  }
}

.clients__item {
  width: 210px;
  height: 92px;

  margin-bottom: $margin-list-set;

  @include mq(mobile) {
    &:nth-child(-n + 4) {
      margin-bottom: $margin-list-set;
    }
  }
  @include mq(tablet) {
    width: 226px;
    margin-right: 0;
  }
  @include mq(tablet-only) {
    &:nth-child(-n + 3) {
      margin-bottom: $margin-list-set;
    }
  }
  @include mq(desktop) {
    width: 170px;
  }
  @include mq(desktop) {
    &:not(:last-child) {
      margin-right: $margin-list-set;
    }
  }
}

.clients__link {
  @include flex();
  width: 100%;
  height: 100%;

  border: 1px solid $clients-logo-color;
  border-radius: 4px;
  color: $clients-logo-color;
  transition: color $timing-function, border $timing-function;

  &:hover,
  &:focus {
    color: $link-accent;
    border: 1px solid $link-accent;
  }
}
.clients__icon {
  fill: currentColor;
}
