.section__title {
  margin-bottom: $margin-list-set;
  @include fonts(36px, 1.16, null, 700);
}
.clients {
  @include flex(flex, space-between);
  flex-wrap: wrap;
}

.clients__item {
  width: 210px;
  height: 92px;

  &:nth-child(-n + 4) {
    margin-bottom: $margin-list-set;
  }

  // &:not(:last-child) {
  //   margin-right: $margin-list-set;
  // }
}
.clients__link {
  @include flex();
  width: 100%;
  height: 100%;

  border: 1px solid $clients-logo-color;
  border-radius: 4px;
  color: $clients-logo-color;
  transition: color $timing-function, border $timing-function;

  &:hover,
  &:focus {
    color: $link-accent;
    border: 1px solid $link-accent;
  }
}
.clients__icon {
  fill: currentColor;
}
