.section__title {
  margin-bottom: $margin-list-set;
  @include fonts(28px, 1.18, null, 700);

  @include mq(desktop) {
    margin-bottom: $margin-fifty;
    @include fonts(36px, 1.16, null, 700);
  }
}
.clients {
  @include flex();

  flex-wrap: wrap;
  margin-bottom: -$margin-list-set;
  @include mq(desktop) {
    flex-wrap: nowrap;
  }
}

.clients__item {
  flex-grow: 2;
  flex-basis: calc((100% - 60px) / 2);
  margin-bottom: $margin-list-set;
  @include mq(tablet-only) {
    margin-right: $margin-list-set;
    flex-basis: calc((100% - 90px) / 3);
    &:nth-child(3n + 3) {
      margin-right: 0;
    }
  }
  @include mq(desktop) {
    &:not(:last-child) {
      margin-right: $margin-list-set;
    }
  }
}
@include mq(mobile-only) {
  .clients__item:nth-child(odd) {
    margin-right: $margin-list-set;
  }
}

.clients__link {
  @include flex();
  padding: 16px 0;
  width: 100%;
  height: 100%;

  border: 1px solid $clients-logo-color;
  border-radius: 4px;
  color: $clients-logo-color;
  transition: color $timing-function, border $timing-function;

  &:hover,
  &:focus {
    color: $link-accent;
    border: 1px solid $link-accent;
  }
}
.clients__icon {
  fill: currentColor;
  transition: fill $timing-function;
}
