.footer__address {
  @include mq(mobile-only) {
    margin-bottom: 60px;
  }

  @include mq(tablet-only) {
    justify-content: center;
    flex-basis: calc(100% / 2);
  }

  @include mq(desktop) {
    flex-grow: 1;
  }
}
.address {
  font-style: normal;

  @include mq(desktop) {
    flex-grow: 1;
    margin-bottom: 0;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__link {
  font-style: normal;
  color: $link-logo;
  transition: $transition-color;

  &:hover,
  &:focus {
    color: $link-accent;
  }
}
.address__auth-link {
  color: $color-opacity-light;
  transition: $transition-color;

  &:hover,
  &:focus {
    color: $link-accent;
  }
}
