@import "../components/logo";
@import "../components/mobile-menu";

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: block;
  text-align: left;

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
