@import "../components/logo";
@import "../components/nav-list";
@import "../components/auth-list";

.header {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #ececec;
  background-color: $bgc-mobile;
  z-index: 1;
}
.header__container {
  @include flex;

  @include mq(mobile-only) {
    justify-content: space-between;
  }
}
