.hero {
  min-width: 480px;
  height: 600px;
  padding: 118px 0;
  margin-left: $margin-auto;
  margin-right: $margin-auto;

  color: $title-text;
  background-color: $hero-bgc;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../image/hero-bgi-sq.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    height: 400px;
    padding: 118px 0;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
  }
}

.hero__title {
  width: 360px;
  margin-left: $margin-auto;
  margin-right: $margin-auto;
  margin-bottom: $margin-list-set;

  @include fonts(26px, 1.61, 0.06em, 900);
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    width: 696px;
    @include fonts(44px, 1.36, 0.06em, 900);
  }
}

.hero__button {
  padding: 10px $padding-set-nav;

  border: none;
  color: $btn-text;
  background-color: $btn-main-bgc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: $transition-color-bgc;

  &:hover,
  &:focus {
    background-color: $btn-bgc-hover-focus;
  }
}
