.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: $margin-auto;
  margin-right: $margin-auto;
  padding: 200px 0;

  color: $title-text;
  background-color: $hero-bgc;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../image/hero-bgi-sq.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__title {
  width: 696px;
  margin-left: $margin-auto;
  margin-right: $margin-auto;
  margin-bottom: $margin-list-set;

  @include fonts(44px, 1.36, 0.06em, 900);
  text-transform: uppercase;
}

.hero__button {
  padding: 10px $padding-set-nav;

  border: none;
  color: $btn-text;
  background-color: $btn-main-bgc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: $transition-color-bgc;

  &:hover,
  &:focus {
    background-color: $btn-bgc-hover-focus;
  }
}
