@import "../components/hero_bgi";

.hero__title {
  display: block;
  margin-left: $margin-auto;
  margin-right: $margin-auto;
  margin-bottom: $margin-list-set;
  max-width: 360px;

  @include fonts(26px, 1.61, 0.06em, 900);
  text-transform: uppercase;

  @include mq(desktop) {
    max-width: 696px;
    @include fonts(44px, 1.36, 0.06em, 900);
  }
}

.hero__button {
  padding: 10px $padding-set-nav;

  border: none;
  color: $btn-text;
  background-color: $btn-main-bgc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: $transition-color-bgc;

  &:hover,
  &:focus {
    background-color: $btn-bgc-hover-focus;
  }
}
