.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @include mq(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin-bottom: $margin-list-set;
  @include fonts(28px, 1.18, null, 700);

  @include mq(desktop) {
    @include fonts(36px, 1.17, null, 700);
  }
}
