//btn
%btn-index {
  min-width: 200px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;

  cursor: pointer;

  border: none;
  color: $btn-text;
  background-color: $btn-main-bgc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: $transition-color-bgc;
}
%btn-portfolio {
  min-width: 73px;
  padding: 6px 22px;
  text-align: center;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  cursor: pointer;
  border: none;
  border-radius: 4px;
}

//possition
%portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
}
