//project colors
$primary-text: #212121;
$title-text: #ffffff;
$secondary-text: #757575;
$accent-color: #2196f3;
$btn-bgc-hover-focus: #188ce8;
$hero-bgc: #2f303a;
$bgc-mobile: #ffffff;
$bgc-secondary: #f5f4fa;
$clients-logo-color: #afb1b8;

//text colors
$primary-text: #212121;
$title-text: #ffffff;
$subtitle-text: #757575;

//link colors
$link-main: #212121;
$link-accent: #2196f3;
$auth-link: #757575;
$link-logo: #ffffff;

//btn colors
$btn-text: #ffffff;
$menu-btn: #212121;
$btn-main-bgc: #2196f3;
$btn-bgc-hover-focus: #188ce8;

//icon colors
$social-icon: #afb1b8;
$social-icon-text: #ffffff;
$social-icon-bgc: #2196f3;
$social-icon-bgc-footer: rgba(255, 255, 255, 0.1);

//modal
$form-bgc: #ffffff;
$form-title-text: #212121;
$form-label-text: #757575;
$form-input-hover: #2196f3;
$form-btn-hover: #2196f3;
$backdrop-icon-hover: #2196f3;

//checkbox
$checkbox-bgc: #2196f3;

//project opacity colors
$color-opacity-light: rgba(255, 255, 255, 0.6);
$color-opacity-midle: rgba(255, 255, 255, 0.3);
$color-opacity-dark: rgba(255, 255, 255, 0.1);

//project geometry
$margin-list-set: 30px;
$margin-fifty: 50px;
$padding-set-nav: 32px;
$padding-text: 24px;
$margin-auto: auto;

//typography
$main-font-family: Roboto, sans-serif;
